FleetModal {
    align: center middle;
    background: $background 60%;
}

FleetModal > FleetBody {
    width: 90%;
    height: 85%;
    border: round $primary;
    background: $surface;
    padding: 0 1;
}
